* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar navbar-expand-lg navbar-dark bg-danger{
  width: 1351px;
}

.conteiner-fluid{
  margin:0 auto;
}

.navbar navbar-expand-lg navbar-dark bg-dark{
  width: 1351px;
}

.navbar-nav{
  margin:0 auto;
}