* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #c7ebf5;
  color: #222;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Cabeçalho com logo e menu */
.navbar navbar-expand-lg navbar-dark bg-danger{
  width: 1351px;
}

.conteiner-fluid{
  margin:0 auto;
}

.navbar navbar-expand-lg navbar-dark bg-dark{
  width: 1351px;
}

.navbar-nav{
  margin:0 auto;
}

/* Banner com imagem do artista */
.banner-artista {
  text-align: center;
  padding: 60px 20px 40px;
  background: black;
  background-repeat: no-repeat;
  background-size:cover;
  background-position-y: center;
  color: white;
}

.foto-artista {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
}

.banner-artista h1 {
  margin-top: 20px;
  font-size: 30px;
}

.banner-artista .aka {
  font-style: italic;
  color: white;
  font-size: 15px;
}

/* Sobre o artista */
.bio {
  padding: 40px 20px;
  background-color: #e4f6fc;
  text-align: center;
}

.descricao {
  max-width: 800px;
  margin: 0 auto;
}

.descricao h2 {
  margin-bottom: 20px;
}

.descricao p {
  font-size: 16px;
  line-height: 1.6;
}

/* Álbuns */
.albuns {
  padding: 40px 20px;
  text-align: center;
}

.grid-albuns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

.album {
  width: 180px;
}

.album img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid black;
}

.album p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}

/* Botão */
.botao-todos {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 20px;
  background-color: red;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
}

.botao-todos:hover {
  background-color: darkred;
}

/* Rodapé */
.rodape {
  text-align: center;
  padding: 20px;
  background: #111;
  color: #888;
  margin-top: 50px;
}
